.section {
  margin-top: 2rem;
}

.title {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: skyblue;
  padding: 1rem;
}

.text {
  font-family: "Poppins", sans-serif;
  color: #ffe4c4;
  margin-top: 1rem;
  padding: 0.25rem;
}

.btn {
  /* margin-top: 1rem; */
  padding: 0.25rem;
  margin-left: 2rem;
}
